### Outskill Assignment 1

In [1]:
import numpy as np
import pandas as pd

In [3]:
def read_file(filename):
    df = pd.read_csv(filename)
    return df

df = read_file("ai_job_dataset.csv")
print(df.columns)

Index(['job_id', 'job_title', 'salary_usd', 'experience_level',
       'employment_type', 'company_location', 'company_size', 'remote_ratio',
       'required_skills', 'education_required', 'years_experience', 'industry',
       'posting_date', 'application_deadline', 'benefits_score',
       'company_name'],
      dtype='object')

In [4]:
# 1. Get Company Location
def get_countries(df):
    countries = []
    for item in df['company_location']:
        if item in countries:
            continue
        else:
            countries.append(item)
    return countries

countries = get_countries(df)
print(countries)

['China', 'Canada', 'Switzerland', 'India', 'France', 'Germany', 'United Kingdom', 'Singapore', 'Austria', 'Sweden', 'South Korea', 'Norway', 'Netherlands', 'United States', 'Israel', 'Australia', 'Ireland', 'Denmark', 'Finland', 'Japan']

In [30]:
# 2. Salary Range per emp type for country as input

from statistics import mean

def salary_range_per_type(df, country):
    sub = df[df['company_location'] == country]
    if sub.empty:
        return f"Error no data found"
    
    range_dict = {}
    etypes = sub['employment_type'].unique()
    if len(etypes) == 0:
        return "ETypes not found"
    print(etypes)
    for t in etypes:
        filter = sub[sub['employment_type'] == t]
        salaries = filter['salary_usd']
        range_dict [t] = [
            round(salaries.min()),
            round(salaries.mean()),
            round(salaries.max())
        ]
    new_frame = pd.DataFrame.from_dict(range_dict, orient="index", columns=['min', 'mean', 'max'])
    print(new_frame)
    new_frame.reset_index(inplace = True)
    new_frame.rename(columns={'index':'employ_type'}, inplace=True)
    return new_frame
        
salary_range_per_type(df, "India")

['FL' 'FT' 'CT' 'PT']
      min   mean     max
FL  33918  83897  198957
FT  32519  84056  197244
CT  33117  83733  197785
PT  33282  85251  203402

  employ_type    min   mean     max
0          FL  33918  83897  198957
1          FT  32519  84056  197244
2          CT  33117  83733  197785
3          PT  33282  85251  203402

In [48]:
# 3. Avg Exp Per Level = input country
def avg_experience(df, c):
    sub = df[df['company_location'] == c]
    levels = sub['employment_type'].unique()
    return_dict = {}
    for t in levels:
        filtered = sub[sub['employment_type'] == t]['years_experience'].tolist()
        return_dict[t] = round(mean(filtered),2)
    for key, value in return_dict:
        avg = []
    return return_dict

# avg_experience(df, "India")
for c in countries:
    print (c, " : ", avg_experience(df, c))

China  :  {'CT': 6.02, 'FT': 6.87, 'PT': 5.61, 'FL': 5.85}
Canada  :  {'CT': 6.83, 'PT': 6.07, 'FT': 6.01, 'FL': 6.38}
Switzerland  :  {'FL': 6.06, 'FT': 6.14, 'PT': 5.54, 'CT': 6.01}
India  :  {'FL': 6.23, 'FT': 6.09, 'CT': 5.99, 'PT': 6.13}
France  :  {'PT': 6.12, 'FL': 6.16, 'CT': 6.19, 'FT': 6.24}
Germany  :  {'CT': 6.27, 'FT': 6.25, 'PT': 6.02, 'FL': 6.54}
United Kingdom  :  {'FL': 5.93, 'PT': 6.78, 'FT': 6.44, 'CT': 5.33}
Singapore  :  {'CT': 6.37, 'FT': 6.2, 'FL': 6.54, 'PT': 5.93}
Austria  :  {'PT': 6.23, 'FT': 6.34, 'FL': 6.18, 'CT': 6.41}
Sweden  :  {'PT': 6.98, 'FT': 6.1, 'FL': 5.72, 'CT': 6.22}
South Korea  :  {'CT': 6.32, 'FL': 5.84, 'FT': 6.45, 'PT': 5.77}
Norway  :  {'CT': 6.39, 'FT': 6.28, 'PT': 6.38, 'FL': 6.72}
Netherlands  :  {'PT': 5.91, 'FT': 6.18, 'FL': 6.29, 'CT': 6.47}
United States  :  {'PT': 6.17, 'FT': 6.47, 'FL': 5.85, 'CT': 6.95}
Israel  :  {'PT': 6.32, 'CT': 6.1, 'FL': 6.01, 'FT': 6.81}
Australia  :  {'CT': 6.05, 'PT': 5.43, 'FT': 6.44, 'FL': 6.28}
Ireland  :  {'CT': 6.52, 'FT': 6.1, 'FL': 5.61, 'PT': 6.06}
Denmark  :  {'FT': 6.81, 'PT': 7.16, 'FL': 6.76, 'CT': 6.36}
Finland  :  {'FL': 6.68, 'CT': 7.37, 'PT': 5.85, 'FT': 6.49}
Japan  :  {'PT': 6.74, 'FT': 5.97, 'FL': 5.83, 'CT': 6.51}

In [60]:
# 4. Ind per country as a dict
def get_industries(df, c):
    sub = df[df['company_location'] == c]['industry'].unique()
    count = 0
    for items in sub:
        count+=1
    return count
for c in countries:
    print(c, ":", get_industries(df, "India"))

China : 15
Canada : 15
Switzerland : 15
India : 15
France : 15
Germany : 15
United Kingdom : 15
Singapore : 15
Austria : 15
Sweden : 15
South Korea : 15
Norway : 15
Netherlands : 15
United States : 15
Israel : 15
Australia : 15
Ireland : 15
Denmark : 15
Finland : 15
Japan : 15

In [90]:
# 5. Get Benefits 

def benefits(df):
    countries = df['company_location'].unique()
    print (countries)
    d1 = {}
    for c in countries:
        d1[c] = [
            round(min(df[df['company_location'] == c]['benefits_score']), 2),
            round(mean(df[df['company_location'] == c]['benefits_score']), 2),
            round(max(df[df['company_location'] == c]['benefits_score']), 2)
        ]
    new_frames = pd.DataFrame.from_dict(d1, orient="index", columns=[ "min", "mean", "max"])
    new_frames.reset_index(inplace = True)
    print(new_frames)
benefits(df)

['China' 'Canada' 'Switzerland' 'India' 'France' 'Germany'
 'United Kingdom' 'Singapore' 'Austria' 'Sweden' 'South Korea' 'Norway'
 'Netherlands' 'United States' 'Israel' 'Australia' 'Ireland' 'Denmark'
 'Finland' 'Japan']
             index  min  mean   max
0            China  5.0  7.52  10.0
1           Canada  5.0  7.57  10.0
2      Switzerland  5.0  7.45  10.0
3            India  5.0  7.57  10.0
4           France  5.0  7.51  10.0
5          Germany  5.0  7.49  10.0
6   United Kingdom  5.0  7.44  10.0
7        Singapore  5.0  7.48  10.0
8          Austria  5.0  7.52  10.0
9           Sweden  5.0  7.50  10.0
10     South Korea  5.0  7.42  10.0
11          Norway  5.0  7.48  10.0
12     Netherlands  5.0  7.51  10.0
13   United States  5.0  7.57  10.0
14          Israel  5.0  7.53  10.0
15       Australia  5.0  7.52  10.0
16         Ireland  5.0  7.39  10.0
17         Denmark  5.0  7.60  10.0
18         Finland  5.0  7.54  10.0
19           Japan  5.0  7.47  10.0